{% block content %}

<footer class="page-footer">
    <hr>

<!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">UNBIS Thesaurus</h5>
                <div class="text-center">
                    <img src="/static/img/dhl.png" style="width:60px;height:60px;">
                    <img src="/static/img/un_logo.jpg" style="width:60px;height:60px;">

                </div>
                <!-- <p>Here you can use rows and columns here to organize your footer content.</p> -->
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a id="ar" class="lang" href="#">ﺎﻠﻋﺮﺒﻳﺓ</a>
                    </li>
                    <li>
                        <a id="zh" class="lang" href="#">中文</a>
                    </li>
                    <li>
                        <a id="en" class="lang" href="#">English</a>
                    </li>
                    <li>
                        <a id="fr" class="lang" href="#">Français</a>
                    </li>
                    <li>
                        <a id="ru" class="lang" href="#">Русский</a>
                    </li>
                    <li>
                        <a id="es" class="lang" href="#">Español</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
</footer>

{% endblock %}