{% extends 'base.html' %}

{% block content %}

<table class="table table-hover">
  <tbody>
    {% for term in context %}
    <tr>
        <td> {{ term.uri_anchor }}</td>
        {% if lang %}
        <td>
            <a href=/term?lang={{lang}}&base_uri={{ term.base_uri }}&uri_anchor={{ term.uri_anchor }}>
            {{ term.pref_label }}
        </a></td>
        {% else %}
        <td>
            <a href=/term?lang=en&base_uri={{ term.base_uri }}&uri_anchor={{ term.uri_anchor }}>
            {{ term.pref_label }}
        </a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}