{% extends 'base.html' %}

{% block content %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
    {% if pagination.has_prev %}
      <a href="/?lang={{lang}}&aspect={{aspect}}&page={{pagination.page|int - 1}}">&laquo; Prev</a>
    {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="/?lang={{lang}}&aspect={{aspect}}&page={{page}}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="/?lang={{lang}}&aspect={{aspect}}&page={{pagination.page|int + 1}}">Next &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}

<p> {{ render_pagination(pagination) }} </p>
<table class="table table-hover">
  <tbody>
    {% for term in context %}
    <tr>
        <td> {{ term.uri_anchor }}</td>
        {% if lang %}
        <td>
            <a href="/term?lang={{lang}}&base_uri={{ term.base_uri }}&uri_anchor={{ term.uri_anchor }}">
            {{ term.pref_label }}
        </a></td>
        {% else %}
        <td>
            <a href="/term?lang=en&base_uri={{ term.base_uri }}&uri_anchor={{ term.uri_anchor }}">
            {{ term.pref_label }}
        </a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}