{% extends 'base.html' %}

{% block content %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
    {% if pagination.has_prev %}
      <a href="/term?lang={{lang}}&base_uri={{request.args.get('base_uri')}}&uri_anchor={{request.args.get('uri_anchor')}}&page={{pagination.page|int - 1}}">&laquo; Prev</a>
    {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="/term?lang={{lang}}&page={{page}}&base_uri={{request.args.get('base_uri')}}&uri_anchor={{request.args.get('uri_anchor')}}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="/term?lang={{lang}}&base_uri={{request.args.get('base_uri')}}&uri_anchor={{request.args.get('uri_anchor')}}&page={{pagination.page|int + 1}}">Next &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}

{% if pagination.pages > 1 %}
  <p class="pagination"> {{ render_pagination(pagination) }} </p>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <h2>{{ pref_label.value }}
      {% for t in rdf_types %}
        {% if lang %}
        <a href="/?lang={{lang}}&aspect={{ t.short_name }}"><span class="badge">{{ t.short_name }}</span></a>
        {% else %}
        <a href="/?lang=en&aspect={{ t.short_name }}"><span class="badge">{{ t.short_name }}</span></a>
        {% endif %}
      {% endfor %}
    </h2>
    <span class="download pull-right">
      <!-- <a href="/api?base_uri={{request.args.get('base_uri')}}&uri_anchor={{request.args.get('uri_anchor')}}&format=turtle">DL</a> -->
      <img src="static/img/download-button-icon-27698.png" style="width:30px;height:30px;" alt="dl" id="getNode">
    </span>
    <div class="modal fade" id="show-dl-options" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <i class="fa fa-times close-dl-dialog" aria-hidden="true"></i>
              <div class="form-ribbon">
                <h5 class="form-ribbon-heading"></h5>
              </div>
              <form method="POST" action="/api" id="post-api" enctype="multipart/form-data">
                <label>Node</label>
                <input type="text" size='64' name="uri" value="{{request.args.get('base_uri') + '#' + request.args.get('uri_anchor')}}" disabled>
                <input type="hidden" name="uri_anchor" value={{request.args.get('uri_anchor')}}>
                <input type="hidden" name="base_uri" value="{{request.args.get('base_uri')}}">
                  <br>
                  <hr>
                <label>Format</label>
                <select name="format" form="post-api">
                  <option value="turtle">Turtle</option>
                  <!-- <option value="xml">XML</option> -->
                  <option value="pretty-xml">XML</option>
                  <option value="n3">n3</option>
                  <option value="nt">nt</option>
                  <option value="trix">trix</option>
                </select>
                <hr>
                <br>
                <label>Download or Print to Screen?</label>
                <br>
                <input type="radio" name="dl_location" value="on_screen" checked> Show on Screen
                <br>
                <input type="radio" name="dl_location" value="download"> As download
                <hr>
                <button type="submit" class="btn btn-success center-block">Submit</button>
              </form>
          </div>
        </div>
    </div>
    
    <ol class="breadcrumb">
      {% for b in breadcrumbs %}
      {% set uri_parts = b.domain.uri.split('#') %}
        <li><a href="/term?lang={{lang}}&base_uri={{uri_parts.0}}&uri_anchor={{uri_parts.1}}">
          {{b.domain.pref_label}}</a></li>
      {% if b.microthesaurus %}
        {% set uri_parts = b.microthesaurus.uri.split('#') %}
          <li><a href="/term?lang={{lang}}&base_uri={{ uri_parts.0 }}&uri_anchor={{ uri_parts.1}}">
          {{ b.microthesaurus.pref_label }}</a></li>
      {% endif %}
      {% endfor %}
    </ol>
    
  </div>
</div>

{% if scope_notes|length > 0 %}
  <table class="table table-condensed">
    {% for sn in scope_notes %}
      <tr class="info">
          <td style="border-top:none">SN</td><td style="border-top:none">{{ sn.value }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if alt_labels|length > 0 %}
  <table class="table table-condensed">
    {% for label in alt_labels %}
      <tr>
        <td style="border-top:none">UF</td>
        <td style="border-top:none"><i>{{ label }}</i></td>                
      </tr>
    {% endfor %}
  </table>
{% endif %}

<!-- <p> Preferred Label :
  {{ pref_label }}
</p>
 -->
<div class="col-md-6">
  <table class="table table-condensed">
    {% for elem in relationships %}
    {% set uri_part = elem.uri.split('#') %}
    <tr>
      {% if elem.type == 'broader' %}
      <td style="border-top: none">BT</td>
      {% elif elem.type == 'related' %}
      <td style="border-top: none">RT</td>
      {% elif elem.type == 'narrower' %}
      <td style="border-top: none">NT</td>
      {% elif elem.type == 'member' %}
      <td style="border-top: none">Member</td>
      {% endif %}

      {% if lang %}
      <td style="border-top: none"><a href="/term?lang={{lang}}&base_uri={{uri_part.0}}&uri_anchor={{uri_part.1}}">{{elem.pref_label}}</a></td>
      {% else %}
      <td style="border-top: none"><a href="/term?lang=en&base_uri={{uri_part.0}}&uri_anchor={{uri_part.1}}">
        {{elem.pref_label}}
      </a></td>
      {% endif %} 
    </tr>
    {% endfor %}
  </table>

  {% if pagination.pages > 1 %}
  <p class="pagination"> {{ render_pagination(pagination) }} </p>
  {% endif %}
</div>


<div class="col-md-6">
  <table class="table table-condensed">
  <tr>
    <th colspan="2" style="border-top:none">Language Equivalents</th></tr>
    {% for elem in pref_labels %}
      {% for label in elem %}
      <tr>
        <td style="border-top:none">
          {% if label.1.language %}
            {% if label.1.language == lang %}
              <b>{{ label.1.language|upper}}</b>
            {% else %}
              {{ label.1.language|upper}}
            {% endif %}
          {% endif %}
      </td>
      <td style="border-top:none">
      {% if label.1.language and label.1.language == lang %}
        <b>{{ label.1.value }}</b>
      {% else %}
        {{ label.1.value }} 
      {% endif %}
      </td>
    {% endfor %}
  {% endfor %}
  </tr> 
  </table>
</div>

{% if matches %}
<p> matches 
  <ul>
    {% for elem in matches %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}



{% endblock %}