{% extends 'base.html' %}

{% block content %}

<p>
  rdf types: {{ rdf_types }}
</p>

<p> pref label :
  {{ pref_label }}
</p>

<p> pref labels:
<ul>
  {% for label in pref_labels %}
    <li> {{label}}</li>
  {% endfor %}
</ul>
</p>

<p> alt labels
  <ul>
    {% for elem in alt_labels %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>


<p> breadcrumbs
  <ul>
    {% for elem in breadcrumbs %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>

<p> scope notes
  <ul>
    {% for elem in scope_notes %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>

<p> relationships
  <ul>
    {% for elem in relationships %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>


<p> matches 
  <ul>
    {% for elem in matches %}
      <li>{{elem}}</li>
    {% endfor %}
  </ul>
</p>


{% endblock %}