<!DOCTYPE html>
<html lang="en"> 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <!-- <link rel="icon" href="../../favicon.ico"> -->
 
     <title>UN Thesaurus</title>
     <link rel="shortcut icon" href="static/img/favicon.png" filename="favicon.png">
 
     <!-- Bootstrap core CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

     <!-- popper.js -->
     <link href="static/js/popper.js" type="application/javascript" rel="stylesheet">
     
     <!-- jQueryUI css -->
     <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

     <!-- Local Custom styles for this template -->
     <link href="static/css/style.css" rel="stylesheet">
     <!-- Hosted Style -->
     <!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zappa-j2ith0vcq/style.css"> -->
 
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

    <!-- jQuery UI -->
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- local index.js -->
    <script type="text/javascript" src="static/js/index.js"> </script>

    <!-- hosted index.js -->
    <!-- <script type="text/javascript" src="https://s3.amazonaws.com/zappa-j2ith0vcq/index.js"></script> -->
 
 </head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- translate this and also make it change based on the app that's chosen -->
        {% if lang %}
        <a class="navbar-brand" href="./?lang={{lang}}">UNBIS Thesaurus</a>
        {% else %}
        <a class="navbar-brand" href="./?lang=en">UNBIS Thesaurus</a>
        {% endif %}
        <div class="navbar-header col-lg-4 col-lg-offset-2 col-xs-2 col-xs-offset-2">
          <img src="static/img/dhl.png" style="width:60px;height:60px;">
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <!-- <ul class="nav navbar-nav"></ul> -->
          <ul class="nav navbar-nav pull-right">
            <li><a id="ar" class="lang" href="#">ﺎﻠﻋﺮﺒﻳﺓ</a></li>
            <li><a id="zh" class="lang" href="#">中文</a></li>
            <li><a id="en" class="lang" href="#">English</a></li>
            <li><a id="fr" class="lang" href="#">Français</a></li>
            <li><a id="ru" class="lang" href="#">Русский</a></li>
            <li><a id="es" class="lang" href="#">Español</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <ul class="nav nav-tabs">
            {% if lang %}
            <li>
              <input type="button" class="btn btn-default" onclick="location.href='./?aspect=Domain&lang={{lang}}'" 
              value="{{ _('Browse Domains') }}"> &nbsp;
            </li>
            {% else %}
            <li>
              <input type="button" class="btn btn-default" onclick="location.href='./?aspect=Domain&lang=en'" value=" {{ _('Browse Domains') }}"> &nbsp;
            </li>
            {% endif %}

            {% if lang %}
            <li>
              <input type="button" class="btn btn-default" onclick="location.href = './?aspect=MicroThesaurus&lang={{lang}}'"
            value="{{ _('Browse MicroThesauri') }}"> &nbsp;
            </li>
            {% else %}
            <li>
              <input type="button" class="btn btn-default" onclick="location.href = './?aspect=MicroThesaurus&lang=en'" value="{{ _('Browse MicroThesauri') }}"> &nbsp;
            </li>
            {% endif %}


            <!-- <li role="presentation"><a href="#">Request a Copy</a></li>
            <li role="presentation"><a href="#">About</a></li> -->
            <form class="navbar-form navbar-right" role="search" method="get" action="./search">
                <input type="text" class="form-control" id="autocomplete" name="q">
                <input type="hidden" name="lang" value={{lang}} id="lang-input">
                <button type="submit" class="btn btn-default" id="search-btn" value="Search">{{_('Search')}}</button>
            </form>
        </ul>
    {% block content %}

    {% endblock %}
    </div>

<footer class="container footer">
        <hr>
        <div class="row list-inline">
            <div class="col-md-12">
                    <div class="pull-left flip footer-brand">
                        <a href="http://www.un.org/" title="Home" alt="Home"><span class="site-name">United Nations</span></a>
                    </div>
                    <div class="pull-right flip">
                        <section class="region region-footer-5">
                            <div id="block-menu-menu-footer-links" class="block block-menu">
                                <ul class="menu nav">
                                    <li class="first leaf"><a href="//www.un.org/en/contactus/" target="_blank">Contact</a></li>
                                    <li class="leaf"><a href="//www.un.org/en/aboutun/copyright/" target="_blank">Copyright</a></li>
                                    <li class="leaf"><a href="//www.un.org/en/aboutun/fraudalert/" target="_blank">Fraud Alert</a></li>
                                    <li class="leaf"><a href="//www.un.org/en/aboutun/privacy/" target="_blank">Privacy Notice</a></li>
                                    <li class="leaf"><a href="//www.un.org/en/siteindex/" target="_blank">A-Z Site Index</a></li>
                                    <li class="last leaf"><a href="//www.un.org/en/aboutun/terms/" target="_blank">Terms of Use</a></li>
                                    
                                </ul>
                            </div>
                        </section>
                    </div>




            </div>
        </div>

    </footer>
</body>
</html>
